absl                        
google                
keras_tuner==1.2.0
kerastuner==1.0.5
tensorflow==2.11.0
tensorflow_model_analysis==0.43.0
tensorflow_transform==1.12.0
tfx==1.12.0
tfx_addons==0.6.0
tfx_bsl==1.12.0